html{
  scroll-behavior: smooth;
  color: black;
}
body{
height: 3000px;
width: 100%;
background-color: floralwhite;
margin: 0;
padding: 0;
text-align: center;
display: block;
min-width: fit-content;
}
header{
  height: auto;
  padding-top: 200px;
}
.fleche{
  position: fixed;
  left: 40px;
  top: 80px;
  height: 40px;
  width: auto;
  z-index: 10;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 100px;
}
h1{
  margin-top: 200px;
  color: black;
  font-family: arial;
  font-size: 40px;
  margin-bottom: 400px;
}
h2{
  color: #1e90ff;
  font-family: arial;
  font-size: 30px;
  letter-spacing: 2px;
  margin-top: 80px;
}
audio{
  margin-top: 20px;
  transform: scale(1.5);
}
p{
  color: black;
  font-size: 40px;
}

